<div class='nav'>
  <span>
    <%= t('.admin_panel') %>
  </span>

  <p>
    <%= t('.welcome_to') %> <%= link_to 'Guru' %>, <%= t('.admin') %> <b><%= current_user.email %></b> |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
  </p>
</div>
