<h1><%= t('.passing') %> <%= @test_passage.test.title %></h1><hr>
<div>
  <span><%= t('.level') %> <%= @test_passage.test.level %></span> |
  <span><%= t('.category') %> <%= @test_passage.test.category.title %></span>
  <%= content_tag :span, 
                  class: 'progress-bar align-middle', 
                  data: { current_question_number: @test_passage.current_question_number, 
                          number_of_questions: @test_passage.number_of_questions } do %>
  <% end %>
  <%= t('.timer') %>
  <div class="timer" data-timer="<%= @test_passage.time_left %>">
    <div>
      <%= @test_passage.time_left %>
    </div>
  </div>
</div><br>


<b><%= @test_passage.current_question.body %></b>
<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form|%>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids: #{b.object.id}"%>
      <%= b.label %>
    </p>
  <% end %>
  <%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %>
  <p><%= form.submit t('next') %></p>
<% end %>

