<div class='container'>
  <%= form_with model: [:admin, @test, @question], local: true do |form| %>
    <%= render 'shared/error_handle', resource: @question %>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body, class: 'form-control' %><br>
    
    <div>
      <%= form.submit %>
      <%= link_to t('back'), admin_test_path(@question.test), class: "btn btn-secondary btn-sm"  %>
    </div>
  </div>

  <% end %>
</div>
