<p><%= @question.body %></p>

<%= link_to t('back'), admin_test_path(@question.test.id), :method => :get  %>
<%= link_to t('edit'), edit_admin_question_path, :method => :get  %>
<%= link_to t('delete'), admin_question_path, :method => :delete  %>
<%= render @question.answers %>
