<h2><%= @test.title %></h2><hr>
  <div>
    <span><%= t('.level') %>: <%= @test.level %></span>
    <span><%= t('.category') %>: <%= @test.category.title %></span>
  </div>

<h2><%= t('.questions') %></h2>
  <%= render @questions %>  

<%= link_to t('back'), admin_tests_path, :method => :get %></span>
<%= link_to t('.create_question'), new_admin_test_question_path(@test), :method => :get %>
