<% if user_signed_in? %>
  <p class='nav'>
    Welcome to <%= link_to 'Guru' %>, <b><%= current_user.email %></b> |
    <%= link_to t('logout'), destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p class='nav' >
    <%= link_to t('login'), new_user_session_path, method: :get %> |
    <%= link_to t('signup'), new_user_registration_path, method: :get %> 
  </p>
<% end %>
